    body {
        font-size: 40px;
        font-weight: bold;
    }
    
    #banner {
        background-image: url(data/body/a.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100.98%;
        height: 500px;
        margin-top: -57px;
        margin-left: -10px;
        margin-right: -10px;
    }
    
    h1 {
        text-shadow: 6px 4px 4px black;
        letter-spacing: 18px;
        font-family: 'Major Mono Display', monospace;
        font-size: 85px;
        text-align: center;
        color: white;
        padding: 27px;
        transition: all 2s ease-in-out;
    }
    
    h2 {
        letter-spacing: 13px;
        text-shadow: 6px 4px 4px black;
        font-size: 60px;
        text-align: center;
        color: white;
        padding: 35px;
        font-family: 'Major Mono Display';
        transition: all 2s ease-in-out;
    }